html {
  background: linear-gradient(
    to bottom,
    rgb(240, 240, 240),
    rgb(205, 205, 205)
  );
}
.tabas {
  gap: 16px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
button {
  width: 20%;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    rgb(240, 240, 240),
    rgb(195, 226, 239)
  );
}
a {
  text-decoration: none;
}
img {
  border-radius: 3px;
  box-shadow: 2px 2px 4px;
  margin: 10%;
}
